@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-slate-300;
	border-radius: 15px 0 0 20px;
	border: 6px solid transparent;
	background-clip: content-box;
	@apply border-r-0;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-slate-400;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 6px solid transparent;
}
